body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.player-card {
  margin: 15px;
}

.center {
  justify-content: center;
}

header {
  background-color: rgb(212, 183, 193);
  border-bottom: 2px solid black;
  padding-top: 10px;
}

.player-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.player-name {
  display: flex;
  justify-content: center;
}

.player-stats {
  font-weight: 600;
}

#generate-btn{
  display: flex;
  justify-content: center;
  padding: 20px
}

button{
  padding: 15px;
  background-color: rgb(236, 93, 148);
  font-weight: 600;
}

button:hover{
  background-color: rgb(147, 203, 186) ;
  cursor: pointer;
}